// Common Color variables

$text-color: #FFF;

//// Layout Variables
$component-padding: 13.174%;


//Global CSS
$background-gradient: linear-gradient(45deg,  #4300EA 30%, #522AB0 90%);

//Export SASS to JS components
:export {
  backgroundGradient: $background-gradient;
  componentPadding: $component-padding;
  textColor: $text-color;
}
