.Paper {
  padding: 30px !important;
  border-radius: 25px !important;
  font-family: Ossb;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.54) !important;
}
.center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin: 0 !important;
}
