.grid-paper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px !important;
  font-family: Ossb;
  font-size: 18px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.54) !important;
}
a {
  text-decoration: none;
  color: white;
}
